*{
	font-family: Verdana;
}

ul{
	margin:0;
	padding:0;
	list-style:none;
}

a{
	text-decoration:none;
}


.clearfix:before, .clearfix:after{
	display:table;
	clear:both;
	content:" ";
}

body{

}


.wrapper{
	min-width:100%;
	overflow:hidden;
}


.container{
	max-width: 960px;
	margin: 0 auto;
}


.header__topmenu{
	border-bottom: 1px solid #ececec;

}

/*Обертка над списком меню About*/
.aboutmenu{
	width: 50%;
	float:left;
}

/*собственно список меню */
.aboutmenu__list{
}

/*li - пункт меню*/
.about__item{
	display: inline-block;
}

/*Ссылка a внутри li*/
.about__link{
	display: inline-block;
	font-size: 10px;
	padding: 5px;
	color: rgb(113,113,113);
	/*font-family: "Verdana";*/
}

.login{	
	width: 50%;
	text-align: right;
	float:right;
}

.login__link{
	display: inline-block;
	font-size: 10px;
	padding: 5px;

}

.header__promo{
	padding-top: 17px;
	padding-bottom: 17px;
	position: relative;
}

.logo{
	display: inline-block;
	width: 20%;
	top:50%;
	transform: translate(0,-50%);
	position: absolute;
}

.logo__link{
 display:inline-block;
}

.advert{
	display: inline-block;
	width: 600px;
	height: 70px;
	background-color: #ebebeb;
	float: right;
}
.advert_img{

}

.header__nav{
	background-color: lightgrey;
}

.nav{
	clear: both;
	display: inline-block;
	float: left;

}

.nav__list{
	font-size:0;
}

.nav__item{
	display: inline-block;
	margin: 0;
	background-color: lightgrey;
}

.nav__link{
	display:inline-block;
	font-size: 14px;
	padding: 15px;
	padding-right: 10px;
	padding-left: 10px;
	color: rgb(113,113,113);
	font-family: "Verdana";
	text-decoration: none;
}

.header__nav-search{
	float: right;
}

.search__form{
	width: 200px;
	background-color: #cecece;
	position: relative;
	color: white;
}
.search__form p{
	margin: 0;
}

.search_input{
	padding: 15px;
	prefix: 40px;
	width: 200px;
	background-color: #cecece;
	border:none;
	outline: none;
	resize:none;
}

.search__submit{

}

.search__icon{
    position: absolute;
    top: 50%;
	right: 8px;
	transform: translate(0,-50%);
}

.maincontent{
	clear: both;
}


.slider__textblock{
	position: relative;
}

.slider__textblock-category{
	position: absolute;
	top: 190px;
	left: 20px;
}

.slider__textblock-title{
	position: absolute;
	top: 215px;
	left: 20px;
}

.slider__textblock-text{
	position: absolute;
	top: 240px;
	left: 20px;
}


.news__block{
	position: relative;
	/*max-height: 356px;*/
}

.news__title{
	width: 300px;
	height: 39px;
	font-size: 14px;
	line-height: 20px;
	color: rgb(206,90,90);
	font-family: "Open Sans";
	font-weight: bold;
}


.news__list{
	display: inline-block;
}

.news__item{
	display: inline-block;
}

.news__icon{
	display: inline-block;
}

.news__date-text{
	display: inline-block;
	font-size: 11px;
line-height: 20px;
color: rgb(176,176,176);
font-family: "Verdana";
}

.news__comment-text{
	display: inline-block;
	font-size: 11px;
	line-height: 20px;
	color: rgb(176,176,176);
	font-family: "Verdana";
}


.news__info{
	width: 300px;
	max-height: 120px;
	overflow: hidden;
	/*height: 105px;*/
	font-size: 13px;
	line-height: 18px;
	color: rgb(113,113,113);
	font-family: "Open Sans";
}

.news__date{
	display: inline-block;
}

.news__comments{
	display: inline-block;
}


.news__category{
	/*display: inline-block;*/
	position: absolute;
	top: -10px;
	left: 10px;
	font-size: 11px;
	padding: 5px;
	line-height: 20px;
	background-color: black;
	color: rgb(255,255,255);
	font-family: "Verdana";

}


.news__button{
	border: 0;
	background-color: #5aacce;
	color: white;
	font-size: 12px;
	line-height: 18px;
	color: rgb(255,255,255);
	font-family: "Verdana";
	padding: 5px;
}

.post-heading{

}

.posts{

	max-width: 1000px;
}

.title__posts{
	color: black;
	background-color:#dddddd; 
	font-size: 16px;
	line-height: 20px;
	color: rgb(1,1,1);
	font-family: "Verdana";
	padding: 5px;
	padding-left: 20px;
	}

.posts__list{

}

.posts__item{
	clear: both;
	width: 33%;
	/*position: relative;*/
}
					
.posts__icon{
 	display: inline-block;
 	/*float: left;*/
}


.posts__article{
	display: inline-block;

	position: relative;
}

.posts__title{
	/*position: absolute;*/
	width: 195px;
	height: 35px;
	font-size: 12px;
	line-height: 20px;
	color: rgb(206,90,90);
	font-family: "Verdana";
	margin: 5px;
	margin-bottom: 12px;
	/*top: 0px;*/
}

.posts__text{
	display: inline-block;
	width: 195px;
	height: 25px;
	font-size: 11px;
	line-height: 15px;
	color: rgb(113,113,113);
	font-family: "Verdana";
	margin-bottom: 20px
	/*top: 0;*/
}
	

.posts__date{
	font-size: 11px;
	line-height: 20px;
	color: rgb(113,113,113);
	font-family: "Verdana";	
}

/*footer CLASSES*/
.footer{
	clear: both;
	width: 1000px;
}



.footer__categs{
	display: inline-block;
	width: 25%;
}

.categs_title{
	font-size: 10px;
	line-height: 24px;
	color: rgb(206,90,90);
	font-family: "Verdana";
}

.categs_list-div{
}

.categs_list{
}

.categs_item{

}

.column-one{
	display: inline-block;
	width: 50%;
	float: left;
}

.column-two{
	display: inline-block;
	width: 50%;
}

.categs_link{
	display: block;
	font-size: 11px;
	line-height: 24px;
	color: rgb(113,113,113);
	font-family: "Verdana";
	text-decoration: none;
}
.footer__social{
	display: inline-block;
	width: 25%;
}

.soc-col1{
	display: inline-block;
}

.soc-col2{
	display: inline-block;
}

.soc-col3{
	display: inline-block;
}

.social__title{
	font-size: 10px;
	line-height: 24px;
	color: rgb(206,90,90);
	font-family: "Verdana";
}

.social__buttons{
}

.social__list{
}

.social__item{
	/*display: inline-block;*/
	display: block;
}

.social__link{
}
				

.footer__newsletter{

	display: inline-block;
	width: 24%;
}

.newsletter__heading{
	font-size: 10px;
	line-height: 24px;
	color: rgb(206,90,90);
	font-family: "Verdana";
}
			

.newsletter__text{
	font-size: 11px;
	line-height: 15px;
	color: rgb(113,113,113);
	font-family: "Verdana";
	margin-bottom: 20px;

}
			
.newsletter__email-field{
	position: relative;
	border: 0.1;
}

.input__newsletter-footer{
	width: 170px;
	height: 27px;
	background-color: #e7e7e7;
	border: 0.001;
	border-width: 0.001;
	/*border-*/
	/*border-color: black;*/
	padding-left: 10px;

	font-size: 11px;
	line-height: 15px;
	color: rgb(113,113,113);
	font-family: "Verdana";
}


.arrow__footer{
	position: absolute;
	top: 5px;
	left: 160px;
	width: 9px;
	height: 13px;
	background-color: #717171;
}

.footer__about{

	display: inline-block;
	width: 24%;

}

.footer__about-heading{
	font-size: 10px;
	line-height: 24px;
	color: rgb(206,90,90);
	font-family: "Verdana";
}

.footer__about-text{
	font-size: 11px;
	line-height: 15px;
	color: rgb(113,113,113);
	font-family: "Verdana";
}